$primary-color: #f19517;
$bg_light-color: #FEF1EB;
$background-color: #f2f4f8;
$heading-color: #111827;
$text-color: #6B7280;
$border-color: #D9D9D9;
$white: #ffffff;
$black: #000000;
$input-text-color: #828284;
$error-color: #E70D0D;